.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0;
  gap: 100px;
  align-items: center;
  .bannerLeft {
    h4 {
      margin: 0px;
      color: gray;
    }
    h1 {
      margin: 0;
      font-size: 50px;
    }
    p {
      margin: 30px 0;
      color: gray;
      line-height: 30px;
    }
    button {
      background-color: #37806b;
      color: #fff;
      border: none;
      outline: none;
      padding: 10px 20px;
      border: 2px solid transparent;
      border-radius: 15px 0 15px 0;
      cursor: pointer;
      &:hover {
        background-color: transparent;
        border: 2px solid #37806b;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .banner {
    .bannerLeft {
      h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }
      p {
        margin-top: 0;
        margin-bottom: 10px;
        overflow: scroll;
        max-height: 210px;
      }
      button {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .banner {
    margin-bottom: 100px;
    grid-template-columns: repeat(1, 1fr);
    .bannerLeft {
      order: 2;
      p {
        overflow: auto;
      }
    }
  }
}
