$borderColor: rgb(216, 208, 208);
.WorkHistry {
  margin: 200px 0;
  .heading {
    width: 720px;
    margin: 0 auto;
    text-align: center;
  }
  .workDetails {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .box {
      position: relative;
      background: white;
      width: 185px;
      height: 185px;
      box-shadow: 2px 12px 35px 8px rgb(0 0 0 / 10%);
      border-radius: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: auto;
      h2 {
        margin: 0px;
        font-weight: bolder;
        color: gray;
      }
      p {
        margin-top: 10px;
      }
      &:nth-child(even) {
        top: 92px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 187px;
        height: 96px;
        top: 50%;
        left: 50%;
        z-index: -999;
      }
      &:after {
        content: "";
        position: absolute;
        width: 187px;
        height: 96px;
        top: 50%;
        right: 50%;
        z-index: -999;
      }
      // start designing before and after sudo element
      &:nth-child(1) {
        &:after {
          display: none;
        }
        &:before {
          border-top: 5px solid $borderColor;
          border-right: 5px solid $borderColor;
        }
      }
      &:nth-child(2) {
        &:after {
          border-top: 5px solid $borderColor;
        }
        &:before {
          border-top: 5px solid $borderColor;
        }
      }
      &:nth-child(3) {
        &:after {
          border-top: 5px solid $borderColor;
          border-left: 5px solid $borderColor;
        }
        &:before {
          border-top: 5px solid $borderColor;
          border-right: 5px solid $borderColor;
        }
      }
      &:nth-child(4) {
        &:after {
          border-top: 5px solid $borderColor;
        }
        &:before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .WorkHistry {
    .workDetails {
      .box {
        &:before {
          content: "";
          position: absolute;
          width: 156px;
          height: 96px;
          top: 50%;
          left: 50%;
          z-index: -999;
        }
        &:after {
          content: "";
          position: absolute;
          width: 156px;
          height: 96px;
          top: 50%;
          right: 50%;
          z-index: -999;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .WorkHistry {
    .workDetails {
      .box {
        &:before {
          content: "";
          position: absolute;
          width: 100px;
          height: 96px;
          top: 50%;
          left: 65%;
          z-index: -999;
        }
        &:after {
          content: "";
          position: absolute;
          width: 99px;
          height: 96px;
          top: 50%;
          right: 65%;
          z-index: -999;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .WorkHistry {
    .workDetails {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      .box {
        width: 100%;
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .WorkHistry {
    width: 100%;
    .heading {
      width: 100%;
    }
    .workDetails {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .box {
        width: 100%;
        &:nth-child(even) {
          top: 0px;
        }
      }
    }
  }
}
